<aside class="sidebar">
  <div class="user-profile">
    <div class="avatar">A</div>
    <span class="user-name">Admin</span>
  </div>

  <nav class="nav-links">
  <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
    <span class="custom-mask dashboard-mask"></span> Dashboard
  </a>

  <a routerLink="/item-management" routerLinkActive="active" class="nav-item">
    <span class="custom-mask box-mask"></span> Item Management
  </a>

  <a href="#" class="nav-item">
    <span class="custom-mask check-mask"></span> Claim Verification
  </a>
  <a routerLink="/post-item" routerLinkActive="active" class="nav-item">
    <span class="custom-mask plus-mask"></span> Post Item
  </a>
  <a href="#" class="nav-item">
    <span class="custom-mask user-mask"></span> Users
  </a>
</nav>

  <div class="bottom-links">
    <a href="#" class="nav-item sign-out">
      <span class="custom-mask door-mask"></span> Sign Out
    </a>
  </div>
</aside>